main{
  display: flex;
  gap: 10px;
}

nav{
  width: 200px;
  min-width: 200px;
}

nav > div{
  width: 100% !important;
}

article{
  width: 200px;
  min-width: 200px;
  background-color: #f8f9fa;
}

section{
  flex-grow: 1;
  background-color: #f8f9fa;
}