.login-form, .signup-form{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

:has(.login-form, .signup-form) form{
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 7px;
}

:has(.login-form, .signup-form) form .btns{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

:has(.login-form, .signup-form) form .button-submit{
  background-color: #00C851;
  border: 2px solid #00C851;
  color: white;
  width: 50%;
}

:has(.login-form, .signup-form) form .button-signup{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0000ff;
  flex-grow: 1;
  /* text-decoration: underline; */
  cursor: pointer;
  border: 2px solid #0000ff;
  border-radius: 7px;
}

:has(.login-form, .signup-form) a{
  color: #0000ff !important;
  text-decoration: none;
  font-family: cursive;
}

.error-input{
  border: 1px solid red !important;
}

.error-message{
  color: red;
}